.App {
  padding: 50px
}

.product-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.shopping-item-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.item-num {
  cursor: pointer;  
}